* {
  font-family: Helvetica;
}

body{
  background: rgb(244, 248, 249);
}

.profile-picture, .account-logo, .user-name, .user-account, .user-box, .valid-logo {
  float: left;
}

/* this is the main box that the rest of the div classes are enclosed in */

.tweet-box {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(225, 232, 237);
  width: 800px;
  padding: 20px 10px 22px 20px;
}

.profile-picture{
  padding-right: 20px;

}

.account-logo {
  top: 10px;
  padding-right: 40px:
}

.user-name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 11px 0px 6px;
  color: rgb(0, 0, 0);
}

.user-account {
  position: relative;
  top: 36px;
  right: 80px;
  font-size: 20px;
  color: rgb(104, 109, 129);
}

.valid-logo {
  margin-left: -55px;
  margin-top: -4px;
}

.follow-button {
  float: right;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(85, 172, 238);
  border-radius: 8px;
  padding: 12px 26px 12px 36px;
  font-size: 24px;
  color: rgb(85, 172, 238);
  font-weight: 600;

}

.follow-text {
  float: right;
}

.twitter-logo{
  position: relative;
  top: 0px;
  left: -10px;
}

.tweet {
  clear: both;
  position: relative;
  padding: 30px 0px 10px;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.date {
  padding-bottom: 15px;
  font-size: 18px;
  color: rgb(101, 116, 127);
  font-weight: 500;
}

.reply {
  padding-right: 25px;
}

.retweet {
  position: relative;
  margin-top: -27px;
  padding-left: 103px;
  padding-right: 60px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(105, 120, 130);
}


.favorite {
  position: relative;
  margin-top: -25px;
  padding-left: 216px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(105, 120, 130);
}


.retweet-logo, .favorite-logo {
  padding-right: 80px;
}
